<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="static\images\css\header.css"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
	<div class="header">
		<h1 id="title">The FASHIONTIE</h1>
		<a href="/home"><h3 style=" float: left; display: inline-flex; margin-left: 80px; margin-top: 30px;">HOME</h3></a>
		<section class="dropdown" style=" float:left; display: inline-flex; margin-left: 20px; margin-top: 3px;">
		<h3 class="dropbtn" >CATEGORIES</h3>
		<section style="margin-top: 60px;" class="dropdown-content">
			<a href="/?productCategory=womenjeans">WOMEN JEANS</a>
			<a href="/?productCategory=traditionalwear">TRADITIONAL WEAR</a>
			<a href="/?productCategory=womentops">WOMEN TOPS</a>
			<a href="/?productCategory=Shoes">SHOES</a>
		</section>
		</section>
		{% if not session['loggedIn'] %}
		<div id="signInButton">
			<a class="link" href="/signin">Sign In</a>
		</div>
		{% else %}
		<div class="dropdown">
			<button class="dropbtn">Hello, {{session['username']}}</button>
			<div class="dropdown-content">
				<a href="/account/orders">Your orders</a>
				<a href="/account/profile">Your profile</a>
				<hr>
				<a href="/logout">Sign Out</a>
			</div>
		</div>
		{% endif %}

		<div id="kart">
			<a class="link" href="/cart">
				<img src='static/images/shoppingCart.png' id="cartIcon" />
				CART
			</a>
		</div>
	</div>
    <h1>Order Placed SUccessfully</h1>
    <a href="{{url_for('home')}}">Home</a> 
</body>
</html>